<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFinal.Presentacion.Properties.Settings.cnx"
            connectionString="Data Source=.;Initial Catalog=bdAlmacen;Persist Security Info=True;User ID=sa;Password=Kevinpro951"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>